@import "node_modules/font-awesome/scss/font-awesome";

@import "_boostrap_custom";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$font : 'Montserrat';

$l_grey : #f4f4f4;
$d_grey : #4d4d4d;
$t_grey : #808080;
$a_grey : #8f9091;



$green : #aef208;
	

body {
		box-sizing: border-box;
		font-family: $font;
		color: $t_grey;
		font-size: 13px;
}
a {
		color: $t_grey;
		text-decoration: none;
		&:hover, &:focus {
				color: $t_grey;
				text-decoration: none;
		}
}
h2 {
		font-size: 2.3em;
		text-align: center;
		float: left;
		width: 100%;
		color: $t_grey;
		margin: 60px 0 60px;
}
h3, h3 a {
		font-size: 1.54em;
		&:after {
				content: "/";
				color: $green;
				padding: 0 5px;
		}
}
p {
		font-size: 1em;
		text-align: left;
}
section {
		margin: 15px 0;
		padding: 15px 0;
		@media screen and (min-width:768px ) { padding: 30px 0; margin: 30px 0; }
	&.slider {
		margin: 0;
		padding: 0;
		height: 40vh;
		@media screen and (min-width:768px ) { height: 75vh; }
	}
}
header {
		background: $d_grey;
		padding: 30px;
	@media screen and (min-width:768px ) { padding: 60px; }
}
#intro {
	p {
		line-height: 1.85em;
		margin: 35px 0;
	}
	.more {
		text-align: left;
		a { padding: 10px 0; }
	}
}
#articles {
		background-color: $l_grey;
		margin-bottom: 0;
}
.article {
		padding-bottom: 60px;
		a {
				text-decoration: none;
				h3, p {
						border-bottom: 3px solid transparent;
				}
				h3 {
						width: auto;
						float: left;
				}
				&:hover {
						text-decoration: none;
						h3 {
								border-color: $green;
								color: $t_grey;
						}
						p { color: $t_grey; }
				}
		}
		img {
				margin: 0 0 40px;
		}
}
.speciality {
		margin-bottom: 15px;
	@media screen and (min-width:768px ) { margin-bottom: 60px; }
		h3 {
				height: 30px;
				line-height: 26px;
				display: table-cell;
				vertical-align: bottom;
			@media screen and (min-width:768px ) { height: 60px; }
		}
		p {
				margin: 15px 0;
			@media screen and (min-width:768px ) { margin: 60px 0; }
				text-align: left;
		}
}
.more {
		text-align: center;
		margin: 0 0 15px;
	@media screen and (min-width:768px ) { margin: 0 0 60px; }
}
.more_link {
		font-size: 1.25em;
		color: $t_grey;
		text-align: center;
		padding: 20px 0;
		border-bottom: 6px solid $green;
}
footer {
		background: $d_grey;
		padding: 60px 0 15px;
		div {
				padding-right: 30px;
		}
		h3 {
				font-size: 2.3em;
				color: white;
		}
		h4 {
				color: $green;
		}
		h3, h4 {
				height: 80px;
				line-height: 1.2em;
				display: table-cell;
				vertical-align: bottom;
				padding-bottom: 30px;
				padding-right: 60px;
		}
		p {
				margin: 15px 0;
				line-height: 1.4em;
				color: $a_grey;
		}
		.contact {
				font-size: 1.7em;
				line-height: 1.2em;
				margin: 0 0 5px;
				span {
						color: $green;
				}
		}
		ul {
				color: $a_grey;
				list-style: none;
				padding: 0;
				margin: 0;
				li {
						color: $a_grey;
						margin: 5px 0;
						a {
								color: $a_grey;
						}
						&:hover {
								a {
										color: white;
										text-decoration: none;
								}
						}
				}
		}
		.social {
				a {
						color: white;
						font-size: 3em;
						margin-right: 60px;
						&:hover {
								color: $green;
						}
				}
		}
		form {
				input {
						width: 100%;
						float: left;
						background: transparent;
						border: 0 none;
						border-bottom: 2px solid $green;
						padding: 8px 0;
						margin: 0 0 15px 0;
						outline: 0 none;
						color: white;
						&:focus {
								outline: 0 none;
						}
						&::-webkit-input-placeholder { color: $a_grey; }
						&::-moz-placeholder { color: $a_grey; }
						&:-ms-input-placeholder { color: $a_grey; }
						&:-moz-placeholder { color: $a_grey; }
				}
				button {
						background: transparent;
						border: 0 none;
						border-bottom: 6px solid $green;
						color: white;
						padding: 0 0 6px;
						font-size: 1.2em;
						margin: 15px 0;
						
				}
		}
		.footer_links {
				ul li {
					float: left;
						margin-left: 10px;
						padding-left: 10px;
						border-left: 1px solid $a_grey;
						margin-top: 15px;
						margin-bottom: 15px;
						&:first-child {
								border: 0;
								margin-left: 0;
								padding-left: 0;
						}
				}
		}
		.sub_footer {
				margin-top: 60px;
		}
}
.latest_projects {
	@media screen and (min-width:768px ) { height: 85vh; }
		float: left;
		width: 100%;
		margin: 0px 0 60px 0;
		.project {
				float: left;
				a {
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
						float: left;
						width: 100%;
						height: 100%;
				}
		}
		
		.main {
			width: 100%;
			height: 50vh;
			@media screen and (min-width:768px ) { width: 50%; height: 100%; }
		}
		.secondary, .third {
				width: 100%;
			height: 25vh;
				
			@media screen and (min-width:768px ) { width: 50%; height: 50%; }
		}
		.third {
				width: 50%;
			height: 25vh;
			@media screen and (min-width:768px ) { width: 25%; height: 50%; }
		}
}
.italic {
		font-style: italic;
}
.light {
		font-weight: 300;
}
.navbar-toggle {
	.icon-bar {
		background: white;
		height: 6px;
		width: 40px;
		margin: 7px 0;
	}
}
.navbar-collapse {
	border: 0;
	box-shadow: none;
	.nav {
		margin-bottom: 30px;
		li {
			width: 100%;
			float: left;
			a {
				font-size: 2.5em;
				@media screen and (min-width:768px ) { font-size: 4.5em; }
				width: auto;
				float: left;
				color: $a_grey;
				border: 4px solid $d_grey;
				line-height: 1em;
				padding: 5px 0;
			}
			&.active, &:hover {
				a {
					font-style: italic;
					color: $green;
					border-bottom-color: $green;
					&:hover, &:focus {
						background: transparent;
						outline: 0;
					}
				}
			}
		}
	}
}
.social {
	a {
		color: white;
		font-size: 3em;
		margin-right: 30px;
		@media screen and (min-width:768px ) { margin-right: 60px; }
		&:hover {
				color: $green;
		}
	}
}

.fa-remove {
	font-size: 45px;
	color: $green;
}